@import "variables";
@import "fonts";

body {
  font-size: 1.2em;

  @extend .font-style;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.font-style {
  font-size: 1.2em;
  font-family: 'AvenirNextUltraLight';
  font-weight: 200;
  font-style: normal;
}

ul.gallery-list {
  width: $galleryWidth * 3;
  position: relative;

  li.gallery-item {
    color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: normal;
    background-size: cover;

    width: $galleryWidth;
    height: $galleryHeight;
    float: left;

    h1 {
      font-size: 3em;
      margin: .5em 0 .1em 1em;

      @extend .font-style;
    }

    .description {
      font-size: .6em;
      margin: .1em 5em 0 5em;

      @extend .font-style;
    }
  }
}

ul.gallery-list {
  &.vanish-transition {
    width: $galleryWidth;
    height: $galleryHeight;

    li.gallery-item {
        opacity: 0;
        float: none;
        position: absolute;

        &.first-frame {
          opacity: 1;
        }

        &.vanish {
          opacity: 1;
          transition: opacity $animationTime $animationType;
        }
      }
  }
}

.enter {
  transform: translate3d(-33.3%, 0, 0);
  transition: all $animationTime $animationType;
}

.bullet-list {
  clear: both;
  background: #dadada;
  width: 100%;
  display: table;

  .bullet-item {
    color: #000000;
    font-size: 0.2em;
    float: left;
    margin: 0 1em;

    @extend .font-style;
  }
}

.gallery-container {
  width: $galleryWidth;
  height: $galleryContainerHeight;
  overflow: hidden;
  position: relative; // For children's vertical centering
}

.arrow-navigation {
  color: #fff;
  display: table;
  width: 100%;
  font-size: .8em;
  text-transform: uppercase;

  /*  vertical centering */
  position: absolute;
  top: 45%;
  transition: translateY(-45%);

  @extend .font-style;

  .goto-prev,
  .goto-next {
    border: 1px solid rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.4);
    padding: .2em .2em .2em;
    cursor: pointer;
  }

  .goto-prev {
    float: left;
  }
  .goto-next {
    float: right;
  }
}

.bullets-navigation {
  background: $bullet-lavigation-backgtound;
  color: #000;
  display: table;
  width: 100%;
  position: relative;
  top: $bullets-position;
  left: $bullets-marging-left;

  div {
    width: .7em;
    height: .7em;
    padding: .2em .2em .2em;
    float: left;
    cursor: pointer;
    border-radius: 1em;
    color: #fff;
    font-size: .9em;
    line-height: .9em;
    margin: 0 .1em;
    border: 1px solid rgba(255, 255, 255, 0.6);

    @extend .font-style;

    &.active {
      background: greenyellow;
      border: 1px solid #dadada;
    }
  }
}

.autoplay-container {
  border: 1px solid rgba(255, 255, 255, .6);
  display: table;
  padding: 0 .3em;
  cursor: pointer;
  position: relative;
  top: 1em;
  left: .2em;
  border-radius: 1em;
  z-index: 1;

  @extend .font-style;
}

.autoplay-indicator {
  font-size: .5em;

  &.off {
    color: $warning-color;
  }

  &.on {
    color: greenyellow;
  }
}

.announce {
  color: $warning-color;
  padding: 2em;
  text-align: center;
  border: 1px solid rgba(255, 0,0,.3);
  position: absolute;
  background: rgba(255, 255,255,.9);
  left: 50%;
  transform: translate(-50%,-50%);

  opacity: 0;
  transition: all 1s ease;

  &.shown {
    opacity: 1;
  }
}

.cell-settings {
  .required {
    color: $warning-color;
    font-size: .6em;
  }
}


/* Button style */

$button-gradient-color-1: #3498db;
$button-gradient-color-2: #2980b9;
$button-hover-gradient-color: #3cb0fd;
$button-border-radius: 28px;

.btn {
  &.reset {
    left: 50%;
    transform: translate(-50%, 0);
    position: relative;
    border: 0;
    margin-top: .3em;
  }
}

.btn {
  background: $button-gradient-color-1;
  background-image: -webkit-linear-gradient(top, $button-gradient-color-1, $button-gradient-color-2);
  background-image: -moz-linear-gradient(top, $button-gradient-color-1, $button-gradient-color-2);
  background-image: -ms-linear-gradient(top, $button-gradient-color-1, $button-gradient-color-2);
  background-image: linear-gradient(to bottom, $button-gradient-color-1, $button-gradient-color-2);
  -webkit-border-radius: $button-border-radius;
  -moz-border-radius: $button-border-radius;
  border-radius: $button-border-radius;

  color: #ffffff;
  font-size: 23px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

  @extend .font-style;
}

.btn:hover {
  background: $button-hover-gradient-color;
  background-image: -webkit-linear-gradient(top, $button-hover-gradient-color, $button-gradient-color-1);
  background-image: -moz-linear-gradient(top, $button-hover-gradient-color, $button-gradient-color-1);
  background-image: -ms-linear-gradient(top, $button-hover-gradient-color, $button-gradient-color-1);
  background-image: linear-gradient(to bottom, $button-hover-gradient-color, $button-gradient-color-1);
  text-decoration: none;
}
