$galleryWidth: 500px; //Set some value for static
$galleryHeight: 250px;
$galleryContainerHeight: $galleryHeight;
$animationTime: 1s;
$animationType: ease;

/* Bullets */

$bullet-lavigation-backgtound: none;
$bullets-potition-inside: -1.5em;
$bullets-potition-outside: 0;
$bullets-marging-left: 2em;
$bullets-position: $bullets-potition-inside;

$warning-color: red;